<a href="/top-articles-partial?searchId=<%= searchId %>" class="btn btn-primary">Fetch Top Articles</a>
<ul>
  <% articles.forEach(article => { %>
    <li>
      <h2><%= article.webTitle %></h2>
      <p><%= article.trailText %></p>
    </li>
  <% }) %>
</ul>