<style>
.dataLink {
  font-size: larger;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}
</style>

<h1>Choose what to do next, <%= username %>!</h1>

<div class="container center-buttons">
  <div class="btn-group" style="display: flex; flex-direction: column;">
    <div>
      <a href="/nytimes-most-popular" class="btn btn-primary dataLink"><strong>Check</strong> New York Times Most Popular Articles</a>
    </div>
    <div>
      <a href="/guardian-search" class="btn btn-secondary dataLink"><strong>Make</strong> Guardian Keyword Search</a>
    </div>
    <div>
      <a href="/archive" class="btn btn-success dataLink"><strong>Inspect</strong> Your Archive</a>
    </div>
  </div>
</div>
