<h1>Welcome to your dashboard, <%= username %>!</h1>



  <div class="container center-buttons">
    <div class="btn-group">
      <a href="/nytimes-most-popular" class="btn btn-primary dataLink"><strong>New York Times</strong><br>Most Popular</a>
      <a href="/guardian-search" class="btn btn-secondary dataLink"><strong>Guardian</strong><br>Keyword Search</a>
      <a href="/archive" class="btn btn-success archiveLink">Archive</a>
    </div>
  </div>
