<a href="/dashboard" class="btn btn-success">To Dashboard</a>

<div id="keyword-articles-container">
  <%- include('partials/keyword-articles', { articles: articles }) %>
</div>
<div id="keyword-articles-wordcloud-container">
  <%- include('partials/keyword-articles-wordcloud', ) %>
</div>