<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css">
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <%- typeof additionalCSS !== 'undefined' ? additionalCSS : '' %>
</head>
<body>
  <header>
      <!-- Navigation Bar -->
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand font-weight-bold text-primary" href="/info">Popcharticles</a>
      <div>
        <% if (!isAuthenticated && currentRoute !== '/registration' && currentRoute !== '/login') { %>
          <a class="btn btn-outline-primary" href="/login">Login</a>
          <a class="btn btn-primary" href="/registration">Register</a>
        <% } %>
        <% if (isAuthenticated) { %>
          <a href="http://127.0.0.1:3000/logout" class="btn btn-success">Logout</a>
        <% } %>
      </div>
    </nav>
  </header>
  <main>
    <div class="container">
      <%- body %>
    </div>
  </main>
  <footer>
    <!-- <p>&copy; 2024 Popcharticles</p> -->
  </footer>
  <!-- jQuery, Popper.js, and Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>