"heelo"
<a href="/dashboard" class="btn btn-success">To Dashboard</a>
<button id="fetchTopArticles" title="Fetch Word Cloud from NYTimes last seven days most viewed articles">Fetch Word Cloud</button>

<div id="wordCloudContainer" style="width: 1000px; height: 800px;">
  <%- include('partials/word_cloud') %>
</div>

<script src="/js/wordcloud2.js"></script>
<script src="/js/fetch_top_popular.js"></script>